body{
    position: absolute!important;
    width: 100%;
    scroll-behavior: smooth;
    display: block!important;
}
header{
    position: fixed;
    background-color: blue;
    width: 100%;
    box-shadow: 0px 50px 16.18px blue;
    z-index: -1;
}
nav{
    display: flex;
    padding: 16.18px;
    margin: 3.2px;
}
.profileimg{
    position: absolute;
    right: 80.90px;
    border-radius: 360px;
    object-fit: cover;
    width: 80px;
    height: 80px;
    box-shadow: 10px 10px 10px;
}
.logo-abhihub{
    display: flex;
    margin-left: 16px;
    margin-top: 0px;
    width: 161.8px;
    height: 80px;
}
main{
    margin-top: 110px;
    border-top-right-radius: 8.09px;
    border-top-left-radius: 8.09px;
    background-color: rgb(228, 221, 221);
    box-shadow: 0px -16px 32px rgb(124, 63, 223);
}
.list-item{
    margin: 16px;
    position: relative;
}
.caption{
    position: absolute;
    bottom: 0.1px;
    width: 340px;
    margin: 10px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: white;
    background-color: rgba(245, 245, 245, 0.3);
    text-align: center;
    border-radius: 8.09px;
}
.update{
    display: inline-flex;
    scroll-behavior: smooth;
    overflow-y: scroll;
    width: 100%;
    border-radius: 8.09px;
    background-color: whitesmoke;
}
.name{
    border-radius: 8.09px;
    background-color: whitesmoke;
    margin: 8.09px;
    padding: 8.09px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: blue;
}
/* this is a comment in css */
/* start from here*/
.carousel{
    background-color: whitesmoke;
    border-top-right-radius: 8.09px;
    border-top-left-radius: 8.09px;
}
.carousel-inner{
    padding: 16.18px;
}
.carousel-item{
    margin-top: 8.09px;
    border-radius: 8.09px;
}
.w-100{
    border-radius: 8.09px;
}
.carousel-caption{
    background-color: rgba(240, 255, 255, 0.188);
    border-radius: 8.09px;
}
img{
    width: 360px;
    object-fit: cover;
    height: 360px;
    border-radius: 8.09px;
}
img:hover{
    filter: opacity(70%);
}