#myDiv{
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    background-color: rgba(165, 42, 42, 0.436);
    z-index: 999;
    display: none;
    margin: auto;
    justify-content: center;
    margin-top: 16.18px;
}
#myDiv span{
    position: fixed;
    display: flex;
    background-color: var();
    z-index: 99;
    width: 100%;
    height: 16.18px;
    top: 0;
}
.container{
    height: 100%;
}
.image-container{
    margin: 0px;
    object-fit: contain;
}
p{
    margin-top: 0px;
    position: absolute;

}
img{
    width: 90vw;
}