::-webkit-scrollbar{
    display: none;
}

#full{
    object-fit: scale-down;
    background-color: rgba(128, 128, 128, 0.503);
    color: white;
}

body{
    position: absolute!important;
    width: 100%;
    scroll-behavior: smooth;
    display: block!important;
    height: 100%;
}
header{
    position: relative;
    background-color: blue;
    width: 100%;
}
nav{
    display: flex;
    padding: 16.18px;
    margin: 3.2px;
}
.profileimg{
    position: absolute;
    right: 80.90px;
    border-radius: 360px;
    object-fit: cover;
    width: 80px;
    height: 80px;
    box-shadow: 10px 10px 10px;
}
.logo-abhihub{
    display: flex;
    margin-left: 16px;
    margin-top: 0px;
    width: 161.8px;
    height: 80px;
}
main{
    border-top-right-radius: 8.09px;
    border-top-left-radius: 8.09px;
    background-color: rgb(228, 221, 221);
    box-shadow: 0px -16px 32px rgb(124, 63, 223);
    overflow-y: scroll;
    height: 100%;
}


.list-item{
    margin: 16px;
    position: relative;
}
.list-item.new::before{
    content: "New";
    position: absolute;
    color: white;
    padding: 8.09px;
    margin: 8.09px;
    border-radius: 36px;
    background-color: red;
}
.caption{
    position: absolute;
    bottom: 0.1px;
    width: 340px;
    margin: 10px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: white;
    background-color: rgba(245, 245, 245, 0.3);
    text-align: center;
    border-radius: 8.09px;
} 
.caption-pdf:hover{
    z-index: -5;
}
.list_pdf{
    width: 360px;
    object-fit: cover;
    height: 500px;
    border-radius: 8.09px;
}
.caption-pdf{
    position: absolute;
    bottom: 0.1px;
    width: 340px;
    margin: 10px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: blue;
    background-color: rgba(214, 208, 249, 0.556);
    text-align: center;
    border-radius: 8.09px;
    margin-top: 100%;
}
.update{
    display: inline-flex;
    overflow-x: scroll;
    width: 100%;
    border-radius: 8.09px;
    background-color: whitesmoke;
    scroll-behavior: smooth;
}
.name{
    border-radius: 8.09px;
    background-color: whitesmoke;
    margin: 8.09px;
    padding: 8.09px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: blue;
}
/* this is a comment in css */
/* start from here*/
.carousel{
    background-color: whitesmoke;
    border-top-right-radius: 8.09px;
    border-top-left-radius: 8.09px;
}
.carousel-inner{
    padding: 16.18px;
}
.carousel-item{
    margin-top: 8.09px;
    border-radius: 8.09px;
    
}
.w-100{
    border-radius: 8.09px;
    object-fit: scale-down;
}
.carousel-caption{
    background-color: rgba(240, 255, 255, 0.188);
    border-radius: 8.09px;
}
.list-item img ,.carousel-item img{
    width: 360px;
    object-fit: cover;
    height: 500px;
    border-radius: 8.09px;
}
.list-name{
    align-self: center;
    margin: 8.09px;
    padding: 8.09px;
    color: skyblue;
}

.about-update{
    display: flex;
    width: 200px;
    padding: 8.09px;
    font-size:32px;
}

footer{
    width: 100%;
    height: px;
    background-color: rgb(240, 240, 240);
    margin-top: 3.2px;
    border-top-right-radius: 16.18px;
    border-top-left-radius: 16.18px;
    padding: 16px;
}
footer:hover{
    background-color: rgb(233, 233, 233);
}
.contact{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.id{
    display: inline;
    padding: 8.09px;
    margin: 4.09px;
    background-color: blue;
    border-radius: 8.09px;
    object-fit: cover;
}
marquee:hover{
    cursor: pointer;
}
.features.top{
    margin-bottom: -12px;
}

/*GAZAL STARTS HERE*/
.gazal-section{
    margin: 16px;
    height: 250px;
    padding: 8.09px;
    display: inline;
    display: inline-flex;
    width: 100%; 
    border-radius: 8.09px; 
    scroll-behavior: smooth;
}
.gazal{
    margin: 8.09px;
    border-radius: 8.09px;
    background-color: whitesmoke;
    padding: 40px;
    text-align: center;
    width: 450px;
}
.gazal-name{
    color: blue;
    margin: 8.09px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.gazal-part{
    color: blueviolet;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}
.gazal-author{
    text-align: right;
    color: rgb(75, 55, 186);
}
.shaiyry{
    display: flex;
    position: inherit;
    overflow-x: scroll;
}

/* popup window */
img{
    width: 100%;
    height: 100%;
}

.popup-image{
    position: fixed;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    margin: 0px;
    display: none;
}
.popup-image img{
    width: 95%;
    height: auto;
    display: flex;
}
.popup-image span{
    position: absolute;
    top: 0;
    font-size: 40px;
    font-weight: bolder;
    color: rgba(0, 0, 255, 0.395);
    cursor: pointer;
    z-index: 9999;
    background-color: rgba(240, 255, 255, 0.318);
}